html {
	height: 100%;
}
body {
	background: #20283D;
	color: white;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	margin: 0;
	height: 100%;
}
main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
section {
	max-width: 700px;
	margin: auto;
	line-height: 34px;
	padding: 0 1em;
}
strong {
	font-weight: 700;
}
.section-container {
	width: 100%;
}
.last-choice-container {
	background: #171D2E;
}
#last-choice {
	font-style: italic;
}
.current-passage-container {
	flex-grow: 1;
}
#current-passage {
	flex-grow: 1;
	font-size: 18px;
}
.choices-container {
	flex-grow: 1;
	background: #171D2E;
}
#choices {
	font-size: 24px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#choices a {
	color: white;
	text-decoration: none;
	opacity: .75;
	transition: opacity .25s;
	margin: .5em 0;
}
#choices a:hover {
	opacity: 1;
}
#choices a.visited {
	color: gray;
}
#choices a.one-way::after {
	content: "";
	display: inline-block;
	height: 1em;
	width: 1em;
	background-size: 1em;
	background-image: url("img/page-turn-icon.svg");
	background-repeat: no-repeat;
	margin-left: .25em;
	margin-bottom: -2px;
}