body {
	background: #20283D;
	color: white;
	font-family: 'Roboto Slab', serif;
	margin: 0;
}
main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
section {
	max-width: 700px;
	margin: auto;
	line-height: 34px;
}
.section-container {
	width: 100%;
}
.last-choice-container {
	background: #171D2E;
}
#current-passage {
	flex-grow: 1;
}
.choices-container {
	background: #171D2E;
}